
.fieldContainer {
  margin-bottom: 16px;
  margin-top: 16px;
}

.inputField {
  width: 100%;
}

.submitButton {
  margin-top: 16px;
}

.formContainer {
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


